html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("https://images.template.net/551448/Background-edit-online.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login {
    margin: auto;
    background: rgba(255,255,255,0.3);
    width: 30%;
    margin-top: 20%;
    align-content: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:50px;
}